mixin facemask
	svg.blob-wrapper(xmlns="http://www.w3.org/2000/svg", id="Capa_1", enable-background="new 0 0 509.974 509.974", height="512", viewBox="0 0 509.974 509.974", width="512")
		g(xmlns='http://www.w3.org/2000/svg')
			g
				path(d='m426.169 364.936c-1.641 0-3.293-.535-4.675-1.639-3.236-2.585-3.766-7.304-1.182-10.541l12.849-16.093 59.364-139.717c3.813-8.973 3.157-19.358-1.754-27.781l-1.71-2.932c-4.822-8.273-13.026-13.78-22.509-15.11-9.468-1.323-18.85 1.696-25.759 8.295l-54.737 54.146c-2.944 2.913-7.693 2.889-10.606-.058-2.913-2.944-2.887-7.693.058-10.606l54.781-54.189c.028-.027.057-.055.085-.082 10.253-9.829 24.2-14.333 38.263-12.359 14.063 1.973 26.231 10.141 33.384 22.409l1.71 2.933c7.282 12.492 8.255 27.895 2.6 41.202l-59.765 140.66c-.266.627-9.303 15.793-9.728 16.326l-4.802 2.317c-1.483 1.853-3.665 2.819-5.867 2.819z', fill='#f3eae6')
			g
				path(d='m91.237 368.049c-1.863 0-3.729-.689-5.182-2.079l-11.64-6.572c-.736-.704-10.609-14.988-11.006-15.925l-59.765-140.661c-5.655-13.307-4.683-28.709 2.6-41.201l1.71-2.934c7.152-12.268 19.32-20.436 33.384-22.408 14.069-1.97 28.012 2.533 38.263 12.359l49.807 48.454c2.97 2.889 3.034 7.637.146 10.605-2.89 2.97-7.638 3.035-10.605.146l-49.767-48.416c-6.873-6.586-16.272-9.629-25.76-8.295-9.482 1.33-17.687 6.837-22.509 15.109l-1.71 2.933c-4.911 8.423-5.566 18.809-1.754 27.78l59.161 139.243 19.811 18.941c2.994 2.862 3.101 7.61.238 10.604-1.474 1.541-3.447 2.317-5.422 2.317z', fill='#f3eae6')
			g
				g#XMLID_857_
					g
						path(d='m437.867 148.499c24.3 77.74 24.55 148.45.15 211.94-.9 2.34-2.75 4.2-5.08 5.12-118.27 46.94-236.54 46.95-354.81.04-2.38-.95-4.26-2.87-5.14-5.28-25.72-70.34-25.52-140.97-.05-211.91.91-2.52 2.91-4.51 5.43-5.41 124.77-45.01 242.86-45.06 354.27-.17 2.5 1.01 4.43 3.1 5.23 5.67z', fill='#a7eedc')
				g(fill='#86e8d0')
					path(d='m319.804 396.138c-80.559 11.588-161.118 1.413-241.677-30.54-2.38-.95-4.26-2.87-5.14-5.28-25.72-70.34-25.52-140.97-.05-211.91.91-2.52 2.91-4.51 5.43-5.41 18.247-6.583 36.35-12.196 54.311-16.855-16.094 50.276-9.767 135.057-3.703 186.325 3.135 26.502 21.895 48.518 47.549 55.87 41.768 11.97 105.301 28.109 143.28 27.8z')
					path(d='m445.639 323.762c-104.965 20.72-211.155 24.179-316.532 10.408v15.115c42.074 5.42 84.274 8.15 126.476 8.15 63.343 0 126.688-6.117 189.604-18.317 1.583-5.434 3.001-10.916 4.241-16.45z')
					path(d='m443.913 169.605c-103.429-19.97-212.855-22.393-326.052-7.297v15.122c113.534-15.341 223.18-12.836 326.61 7.551.06.012 3.26.563 3.26.563-1.155-5.28-2.425-10.592-3.818-15.939z')
					path(d='m313.366 260.486c0 4.143 3.357 7.5 7.5 7.5h135.228c.126-4.965.142-9.963.024-15h-135.252c-4.143 0-7.5 3.357-7.5 7.5z')
					path(d='m286.2 252.986h-176.048v15h176.048c4.143 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z')
				path(d='m124.674 267.986c-.364-4.914-.692-9.926-.98-15h-69.865c-.015 0-.029.002-.044.002-.03 5 .056 9.999.283 14.995v.003z', fill='#5de1c4')
			g(fill='#5de1c4')
				path(d='m135.899 335.047c-23.511-2.906-46.984-6.667-70.395-11.289l-3.77-1.008c1.281 5.462 2.713 10.922 4.304 16.38 27.245 5.281 54.569 9.417 81.938 12.415-4.843-4.83-8.922-10.393-12.077-16.498z')
				path(d='m125.362 161.329c-19.722 2.499-39.559 5.522-59.502 9.088-1.559 5.46-2.97 10.918-4.228 16.375l3.754-1.062c19.583-3.555 39.06-6.576 58.426-9.089.407-5.216.922-10.327 1.55-15.312z')
